main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  background: #ddd;
  width: 100%;
  max-width: 1000px;
  height: 500px;
  box-shadow: 0 15px 35px rgba(0,0,0,0.2);
  border-radius: 8px;
  position: absolute;
}

.tabs {
  display: flex;
  gap: 1rem;
  position: relative;
  top: -3.5rem;
}

.tab {
  background: #d0d0d0;
  width: 15ch;
  padding: 1rem;
  text-align: center;
  border-radius: 16px 16px 0 0;
}

.tab.active {
  background-color: #9a9a9a;
}