main {
  display: flex;
  gap: 4rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 4rem 0;
  
}

.form {
  padding: 2rem;
  background: #eee;
  width: 100%;
  max-width: 1000px;
  min-height: 800px;
  box-shadow: 0 15px 35px rgba(0,0,0,0.2);
  border-radius: 0 8px 8px 8px;
  position: relative;
}

.tabs {
  display: flex;
  gap: 1rem;
  position: absolute;
  top: calc((2rem + 25px) * -1); /* 2rem = top + bottom padding, 25px = height of content inside tab */
  left: 0;
}

.tab {
  background: #e6e6e6;
  width: 15ch;
  padding: 1rem;
  text-align: center;
  border-radius: 16px 16px 0 0;
}

.tab:hover {
  cursor: pointer;
}

.tab.active {
  background-color: #c4c4c4;
}

button {
  background-color: #ddd;
  font-size: 1.25rem;
  font-family: inherit;
  width: 20rem;
  padding: 1rem;
  border: none;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

button:hover {
  background: #ccc;
  cursor: pointer;
  
}

